.accordeon__item {
  border: 1px solid $light-brown;

  &:not(:last-of-type) {
    border-bottom: none;
  }
}

.accordeon__button {
  @include transition;
  position: relative;
  width: 100%;
  border: none;
  background-color: transparent;
  font-family: $body-font-family;
  font-weight: 500;
  text-align: left;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 15px;
    height: 8px;
    background-image: url("../img/icon-angle.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    color: $light-brown;
  }

  &:active {
    opacity: 0.5;
  }
}

.accordeon-no-js .accordeon__button {
  cursor: default;

  &::after {
    content: none;
  }
}

.active-item {
  &::after {
    transform: rotate(0deg);
  }
}

.show {
  &:nth-of-type(n) {
    display: block;
  }
}

@media (max-width: $tablet-breakpoint) {
  .accordeon__button {
    &::after {
      width: 23px;
      height: 12px;
      background-size: cover;
    }
  }
}
