.faq {
  display: flex;
  flex-direction: column;
  padding-top: 115px;
}

.faq__title {
  @include heading-style;
  margin-bottom: 48px;
}

.faq__accordeon {
  @include list-style;
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
}

.accordeon__no-js .faq__item {
  padding: 50px 50px 42px 50px;
}

.accordeon__no-js .faq__item-title {
  padding: 0 0 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.4px;
}

.accordeon__no-js .faq__panel {
  padding: 0;
}

.faq__item br {
  display: none;
}

.faq__button {
  padding: 45px 50px 43px 42px;
  font-size: 18px;
  line-height: 23.4px;

  &::after {
    right: 50px;
  }
}

.faq__panel p {
  margin: 0;
}

.faq__panel {
  display: none;
  padding: 0px 395px 43px 50px;
  margin-top: -36px;
}

@media (max-width: $tablet-breakpoint) {
  .faq {
    padding-top: 70px;
  }

  .faq__title {
    margin-bottom: 45px;
  }

  .faq__accordeon {
    width: 100%;
  }

  .accordeon__no-js .faq__item {
    padding: 50px;
  }

  .accordeon__no-js .faq__item-title {
    padding-bottom: 35px;
  }

  .faq__button {
    padding: 45px 50px 44px 48px;
  }

  .faq__panel {
    padding: 0 90px 43px 48px;
    margin-top: -18px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .faq {
    margin-top: 0;
    padding-top: 55px;
  }

  .faq h2 {
    margin-bottom: 28px;
  }

  .faq__item br {
    display: block;
  }

  .accordeon__no-js .faq__item {
    padding: 25px;
  }

  .accordeon__no-js .faq__item-title {
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 22.4px;
  }

  .faq__button {
    padding: 18px 50px 21px 23px;
    font-size: 16px;
    line-height: 22.4px;

    &::after {
      top: 33%;
      right: 22px;
    }
  }

  .faq__panel {
    padding: 0 55px 20px 23px;
    margin-top: -6px;
    font-size: 14px;
    line-height: 19.6px;
  }
}
