.faq {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

.faq__title {
  @include heading-style;
  margin-bottom: 48px;
}

.faq__accordeon {
  @include list-style;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
}

.faq__item br {
  display: none;
}

.faq__button {
  padding: 45px 50px 43px 42px;
  font-size: 18px;
  line-height: 23.4px;

  &::after {
    right: 50px;
  }
}

.faq__item .active-item,
.accordeon-no-js .faq__button {
  padding-bottom: 7px;
}

.faq__item .active-item {
  &::after {
    top: 68%;
  }
}

.faq__panel p {
  margin: 0;
}

.faq__panel {
  display: none;
  padding: 0 395px 43px 50px;
}

.accordeon-no-js .faq__panel {
  display: block;
}

@media (max-width: $tablet-breakpoint) {
  .faq {
    padding-top: 70px;
  }

  .faq__title {
    margin-bottom: 45px;
  }

  .faq__accordeon {
    width: 100%;
  }

  .faq__button {
    padding: 45px 50px 44px 48px;
  }

  .faq__item .active-item,
  .accordeon-no-js .faq__button {
    padding-bottom: 26px;
  }

  .faq__item .active-item {
    &::after {
      top: 55%;
    }
  }

  .faq__panel {
    padding: 0 90px 43px 48px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .faq {
    margin-top: 0;
    padding-top: 55px;
  }

  .faq h2 {
    margin-bottom: 28px;
  }

  .faq__item br {
    display: block;
  }

  .faq__button {
    padding: 18px 50px 21px 23px;
    font-size: 16px;
    line-height: 22.4px;

    &::after {
      top: 33%;
      right: 22px;
    }
  }

  .faq__item .active-item,
  .accordeon-no-js .faq__button {
    padding-bottom: 15px;
  }

  .faq__item .active-item {
    &::after {
      top: 30%;
    }
  }

  .faq__panel {
    padding: 0 55px 20px 23px;
    font-size: 14px;
    line-height: 19.6px;
  }
}
