.swiper {
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  width: 86%;
  margin: 0 auto;
  padding: 120px 0 115px;
  overflow: hidden;
}

.swiper__title {
  @include heading-style;
  margin-bottom: 25px;
  text-align: center;
}

.swiper__link {
  &::after {
    width: 80px;
  }
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: -60px;
  cursor: pointer;

  &:hover svg,
  &:focus svg {
    stroke: $basic-dark;
  }

  &:active svg {
    stroke: $basic-dark;
    opacity: 0.7;
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  @include transition;
  stroke: $light-brown;
}

.swiper-button-prev svg {
  transform: rotate(180deg);
}

.swiper-wrapper {
  display: flex;
  justify-content: flex-start;
  width: auto;
  margin-bottom: 54px;
}

.swiper-slide {
  display: block;
  flex: 0 0 auto;
  width: 270px;
  text-align: center;
  margin-right: 30px;
}

.swiper-slide__img-box {
  img {
    height: 100%;
    aspect-ratio: 270/284;
  }
}

.swiper-slide__description {
  @include transition;
  margin: 22px auto 0;
}

.swiper-slide__description h3 {
  margin: 0 0 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.8px;
}

.swiper-slide__description p {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 18.2px;

  &::after {
    content: none;
  }
}

.swiper-pagination {
  width: fit-content;
  margin: 0 auto;
  font-weight: 500;
  color: $basic-grey;
}

.swiper-pagination-bullet {
  @include transition;
  margin-right: 15px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $light-brown;
  }

  &:active {
    color: $light-brown;
    opacity: 0.7;
  }
}

.swiper-pagination-bullet-active {
  color: $basic-dark;
  cursor: default;

  &:hover,
  &:focus,
  &:active {
    color: $basic-dark;
  }
}

@media (max-width: $tablet-breakpoint) {
  .swiper {
    width: 88%;
    padding: 70px 0 65px;
  }

  .swiper__title {
    margin-bottom: 21px;
  }

  .swiper__link {
    padding-bottom: 5px;
  }

  .swiper-container {
    padding-top: 50px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: -50px;
  }

  .swiper-button-prev svg,
  .swiper-button-next svg {
    width: 36px;
    height: 15px;
  }

  .swiper-slide__img-box {
    width: 100%;
    // max-height: 340px;
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 324/340;
    }
  }

  .swiper-wrapper {
    margin-bottom: 44px;
  }
}

@media (max-width: $mobile-breakpoint) {
  .swiper {
    width: 90%;
    padding: 60px 0 55px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper-container {
    padding-top: 40px;
  }

  .swiper-wrapper {
    margin-bottom: 34px;
  }

  .swiper-slide__img-box {
    aspect-ratio: 130/136;
  }

  .swiper-slide__description {
    width: 130px;
    margin-top: 17px;
  }

  .swiper-pagination {
    color: $basic-dark;
  }
}
