@mixin list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin heading-style {
  margin: 0 0 35px;
  text-align: center;
  font-family: $heading-font-family;
  font-weight: 700;
  font-size: 34px;
  line-height: 44.2px;
  letter-spacing: 1px;
}

@mixin transition {
  transition: background-color, color, border, stroke, fill;
  transition-duration: 0.5s;
}
