$basic-white: #ffffff;
$basic-black: #000000;
$basic-dark: #1d1613;
$basic-grey: #9b9997;
$light-brown: #a87b62;
$light-grey: #f6f5f4;

$body-font-family: "Poppins", "Arial", sans-serif;
$heading-font-family: "Cormorant Garamond", "PT Serif", serif;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$mobile-breakpoint: 767px;
$tablet-breakpoint: 1023px;
$desktop-breakpoint: 1024px;
